<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>All Employee</title>
<th:block th:include="layout/header"></th:block>
</head>

<div id="successMessage" th:if="${message}" th:text="${message}"
	th:class="${'alert ' + alertClass}" style="text-align: center" /></div>
<div class="container">

	<!-- start of container -->
	<h1>Add a new employee</h1>
	<div>

		<form class="form-horizontal" th:object="${employee}"
			th:action="@{/admin/employee/employees}" method="POST">
			
			
			<div class="form-group">
				<div class="col-md-4">
					<input type="hidden" class="form-control" th:field="*{id}" />
				</div>
			</div>

			<fieldset class="col-md-4">
				<label for="name">Name: </label> <input 
					class="form-control" type="text" id="name" th:field="*{name}"/>
				 <p style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
			</fieldset>

			<fieldset class="form-group col-md-4">
				<label for="email">Email : </label> <input class="form-control"
					type="email" th:field="*{email}">
					<p style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">invalid email</p>
				
			</fieldset>

			<fieldset class="form-group col-md-4">
				<label for="userid">User Id</label> <input class="form-control"
					type="text" id="userid" th:field="*{userid}" >
					<p style="color:red" th:if="${#fields.hasErrors('userid')}" th:errors="*{userid}">Name Error</p>
			
			</fieldset>

			<fieldset class="form-group col-md-4">
				<label for="password">Password: </label> <input class="form-control"
					type="password" id="password" th:field="*{password}">
					<p style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</p>
		
			</fieldset>

			<fieldset class="form-group col-md-4">
				<label for="role">Employee role : </label> <select
					th:field="*{role}">
					<option th:each="role : ${roles}" th:value="${role.id}"
						th:text="${role.title}">Null</option>
				</select>
			</fieldset>

			<fieldset class="form-group col-md-4">
				<label for="assignmanager">Assign Manager</label> Manager to assign:
				<select th:field="*{managerid}">
					<option th:each="emp : ${empWithRole}" th:value="${emp.id}"
						th:text="${emp.name}"></option>
				</select>
			</fieldset>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>


	</div>

</div>
<!-- end of container -->
<script>
$(document).ready(function(){
	setTimeout(function() {
	    $('#successMessage').fadeOut('fast');
	}, 30000); // <-- time in milliseconds
});
</script>
</body>
</html>