@charset "ISO-8859-1";
*,
*::after,
*::before {
	margin: 0;
	padding: 0;

}

html: {
	font-size: 12px;
}
body {
  background-image: url("../image/main2.jpg");no-repeat
  background-position: center;
	background-size: cover;
}
.jumbotron {
background-image: url("../image/jumbo.jpg")!important;
}