<html xmlns:th="http://www.thymeleaf.org">

<title>Add Employee</title>
<th:block th:include="layout/header"></th:block>



<div class="container">
	<!-- start of container -->
	<h1>Add a new employee</h1>
	<div>

		<form class="form-horizontal" th:object="${employee}"
			th:action="@{/employees}" method="POST">
			<fieldset class="form-group col-md-4">
			<label for="name">Name : </label>
			<input class ="form-control" type = "text" id="name" th:field="*{name}"/>
			</fieldset>
			
			<fieldset class="form-group col-md-4">
			<label for="email">Email : </label>
			<input class="form-control" type="email" th:field="*{email}">
			</fieldset>
			
			<fieldset class="form-group col-md-4">
			<label for="userid">User Id</label>
			<input class="form-control" type="text" id="userid" th:field="*{userid}">
			</fieldset>
			
			<fieldset class="form-group col-md-4">
			<label for="password">Password: </label>
			<input class="form-control" type="password" id="password" th:field="*{password}">
			</fieldset>
			
			<fieldset class="form-group col-md-4">
			<label for="role">Employee role : </label>
			<select th:field="*{role}">
			<option th:each="role : ${roles}" th:value="${role.id}"
			th:text="${role.title}"></option>
			</select>
			</fieldset>
			
			<fieldset class="form-group col-md-4">
			<label for="assignmanager">Assign Manager</label>
				Manager to assign: <select th:field="*{managerid}">
					<option th:each="emp : ${empWithRole}" th:value="${emp.id}"
						th:text="${emp.name}"></option>
				</select>
			</fieldset>
			


			<button type="submit" class="btn btn-primary">Submit</button>
		</form>


	</div>

</div>
<!-- end of container -->

<th:block th:include="layout/footer"></th:block>