<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Edit Product Details</title>
<th:block th:include="layout/header"></th:block>
</head>

<div class="container">
	<div th:if="${not #lists.isEmpty(employees)}">
		<h2>Employee</h2>
		<table class="table table-striped">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Email</th>
				<th>User ID</th>
				<th>Roles</th>
				<th>Manger Id</th>
			</tr>
			<tr th:each="employee : ${employees}">

				<td th:text=${employee.id}></td>
				<td th:text="${employee.name}">Name</td>
				<td th:text="${employee.email}">Email</td>
				<td th:text=${employee.userid}>UserID</td>
				<td th:text=*{employee.role.title}></td>
				<td th:text="${employee.managerid}"></td>
				<td><a th:href="${'/employees/update/' + employee.id}" class="btn btn-primary">Edit</a></td>
		</table>
	</div>
</div>
<th:block th:include="layout/footer"></th:block>