<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<th:block th:include="layout/header"></th:block>
<title>Laps : Employee Login</title>
</head>
<body>


<div th:if="${message}" th:text="${message}"
	th:class="${'alert ' + alertClass}" id="successMessage"
	style="text-align: center" /></div>
	<div class="container mt-5">
	
<div class="alert-danger" th:if="${error}" th:text="${error}"></div>


		<h1>Login</h1>
		<form class="form-horizontal" th:object="${employee}"
			th:action="@{authenticate}" method="POST">

			<div class="form-group">
				<div class="col-sm-10">
					<input type="hidden" class="form-control" th:field="*{id}" />
				</div>
			</div>
			<fieldset class="form-group col-md-4">
				<label for="name">Name :</label> <input class="form-control"
					type="text" id="name" th:field=*{name}>
			</fieldset>

			<fieldset class="form-group col-md-4">
				<label for="password">Password :</label> <input class="form-control"
					type="text" id="password" th:field=*{password}>
			</fieldset>

			<button class="btn btn-primary">Login</button>
		</form>
	</div>
	
	<script>
 $(document).ready(function(){
      setTimeout(function() {
         $('#successMessage').fadeOut('slow');
         }, 2000); // <-- time in milliseconds
 });
 </script>
 
</body>
</html>