<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Team member page</title>
<th:block th:include="layout/header"></th:block>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/member.css}" />

</head>
<body>
<h2 class="mt-5" style="font-style: italic">Team 13A Members</h2>
<hr>
	<div class="container">
		<div class="card">
			<div class="img-box">
			<img src="/image/imgk.jpg">
			</div>
			<div class="content">
			<h2>Kelvin Tay<br><span>UX/UI/CODER Designer</span></h2>
			<p>is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
			</p>	
			<ul>
			<li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
			<li><a href="https://www.linkedin.com/in/kelvin-tay-b9b388170/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			<li><a href="https://github.com/kivelz?tab=repositories"><i class="fa fa-github" aria-hidden="true"></i></a></li>
			</ul>
				</div>
		</div>
		<div class="card">
			<div class="img-box">
				<img src="/image/imgq.jpg">
			</div>
			<div class="content">
			<h2>Qharil<br><span>CODE Designer</span></h2>
			<p>is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
			
			</p>
			
			<ul>
			<li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
		
			</ul>
				</div>
		</div>
		<div class="card">
			<div class="img-box">
				<img src="/image/imgh.jpg">
			</div>
			<div class="content">
			<h2>Harbinder<br><span>Database Designer</span></h2>
			<p>is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
			
			</p>
		
			<ul>
			<li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
			</ul>
				</div>
		</div>
		<div class="card">
			<div class="img-box">
				<img src="/image/imgn.jpg">
			</div>
			<div class="content">
			<h2>Nan Zarch Kyaw<br><span>CODE Designer</span></h2>
			<p>is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
		
			</p>
		
			<ul>
			<li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
			</ul>
				</div>
		</div>
		
	</div>


</body>
</html>