<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>view Roles </title>
<th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container mt-5">
	<!-- start of container -->
	<div class="row">
		<div class="col-md-3">
			<p class="lead">Admin Menu</p>
			<div class="list-group">
				<ul>
					<li class="list-group-item"><a href="/admin/employee">View all employee</a></li>
					<li class="list-group-item"><a href="/admin/employee/create">Add
							new employee</a></li>
					<li class="list-group-item active">View Role</li>
				</ul>
			</div>
		</div>
		<div class="col">
		<h1>Role Details</h1>
		<table class="table table-striped">
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>Annual Leave</th>
			<th>Medical Leave</th>
		</tr>
		<tr th:each="role : ${roles}">
			<td th:text="${role.id}"></td>
			<td th:text="${role.title}"></td>
			<td th:text="${role.annualleave}"></td>
			<td th:text="${role.medicalleave}"></td>
			
			<td><a th:href="${'update/' + role.id}"
					class="btn btn-primary">Edit</a></td>
		</tr>
		</table>
		</div>
	</div>
</div>
<!-- end -->



<script>
	$(document).ready(function() {
		setTimeout(function() {
			$('#successMessage').fadeOut('slow');
		}, 2000); // <-- time in milliseconds
	});
</script>






	
	
	

</body>
</html>